<mat-card>
  <div *ngIf="isSignup">
    <h3>Create Account</h3>

    <button mat-stroked-button (click)="changeType('login')">
      Returning user?
    </button>
  </div>

  <div *ngIf="isLogin">
    <h3>Sign In</h3>

    <button size="small" mat-stroked-button (click)="changeType('signup')">
      New user?
    </button>
  </div>

  <div *ngIf="isReset">
    <h3>Reset Password</h3>

    <button size="small" mat-button (click)="changeType('login')">
      Back
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email?.valid && 'accent'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off" />

      <mat-error *ngIf="email?.invalid && email?.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>
  
    <mat-form-field [color]="email?.valid && 'accent'" *ngIf="!isReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password?.invalid && password?.dirty">
        <p *ngIf="!pwdLength; else next1">Password must be 8-32 characters long</p>
        <ng-template #next1><p *ngIf="!pwdHasNumber; else next2">Password must has at least 1 number</p></ng-template>
        <ng-template #next2><p *ngIf="!pwdHasLowercase; else next3">Password must has at least 1 lowercase character</p></ng-template>
        <ng-template #next3><p *ngIf="!pwdHasUppercase; else next4">Password must has at least 1 uppercase character</p></ng-template>
        <ng-template #next4><p *ngIf="!pwdHasSpecial; else next5">Password must has at least 1 special character</p></ng-template>
        <ng-template #next5><p *ngIf="!pwdNotStartWhite">Password must not start with white character</p></ng-template>
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup">
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off" />

      <mat-error *ngIf="passwordConfirm?.dirty && !passwordDoesMatch">
        Password does not match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{  serverMessage  }}</mat-error>

    <button
      *ngIf="isReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading">
      Send reset email
    </button>

    <button
      *ngIf="!isReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading">
      Submit
    </button>

    <button
      mat-button
      *ngIf="isLogin && !isReset"
      (click)="changeType('reset')">
      Forgot password?
    </button>
  </form>
</mat-card>
